.page-header
  %h2
    Test Rounds
    %small= "#{@project.test_rounds.count} in total"
  -if can? :create, TestRound, {:project_id => project.id}
    = link_to 'Schedule', new_project_test_round_path(project), :class => 'btn primary'
    - if project.name == 'ActiveNet'
      %a#multiple_site.btn.primary{:href => "#multiple_site_form", :remote => true} Multiple Site
    = render :partial => "multiple_sites", :locals => {:project => project}
  = form_for search, :url => project_test_rounds_path, :remote => true do |f|
    %span.search
      = f.text_field :creator_email_or_test_environment_name_or_test_object_or_test_suite_test_type_name_contains, {:id => 'search'}
      = f.submit '', {:class => 'btn', :id => 'searchsubmit'}

%table.zebra-striped
  %tr
    %th="NO."
    %th=sort_link search, :pass, "P", {}, {:remote => true}
    %th=sort_link search, :failed, "F", {}, {:remote => true}
    %th=sort_link search, :not_run, "N", {}, {:remote => true}
    %th=sort_link search, :creator_email, "Creator", {}, {:remote => true}
    %th=sort_link search, :test_object, "Description", {}, {:remote => true}
    %th=sort_link search, :test_environment_name, "Environment", {}, {:remote => true}
    %th=sort_link search, :start_time, "Start Time", {}, {:remote => true}
    %th=sort_link search, :end_time, "End Time", {}, {:remote => true}
    %th Rerun
  - if test_rounds.nil? or test_rounds.count == 0
    %tr
      %td{:colspan => "9"}
        %h4 No data
  - else
    - test_rounds.each do |tr|
      %tr
        %td{:style => "width: 145px"}
          = image_tag("#{tr.result}.png", class: "ui-icon")
          = image_tag("#{tr.browser.name}.png", class: "ui-icon")
          = image_tag("#{tr.operation_system.name}.png", class: "ui-icon")
          - test_type = tr.test_suite.test_type.name.slice(0..2).upcase
          = link_to "#{test_type} ##{tr.id}", project_test_round_path(project, tr), :remote => true
        %td.pass= tr.pass_count
        %td.failed= tr.failed_count
        %td.not-run= tr.not_run_count
        %td= tr.creator.display_name
        %td
          - test_object = tr.test_object 
          - if test_object and test_object.length >= 30
            - test_object = test_object.slice(0,30).concat("...")
          %span{:title => tr.test_object}= test_object
        %td= tr.test_environment.name
        %td= in_time_zone(tr.start_time)
        %td= in_time_zone(tr.end_time)
        %td
          - if tr.state == "completed" && can?(:update, TestRound, {:project_id => project.id}) 
            %input.btn.primary.rerun_btn{:type => "button", :value => "Rerun", "rerun_failed" => "test_rounds/#{tr.id}/rerun_failed", "rerun_all" => "test_rounds/#{tr.id}/rerun", "test-round" => "#{tr.id}"}
= paginate test_rounds

#rerun_confirmation.modal.fade{:style => "display: none; "}
  .modal-header
    %h3 Rerun all the tests?
  .modal-body
    #modal_text
      This action will result in clearing all the results, are you sure with this?
  .modal-footer
    %a.btn.primary.confirm_rerun_failed{:href => "#"} Rerun Failed
    %a.btn.primary.confirm_rerun_all{:href => "#"} Rerun All
    %a.btn.cancel_rerun{"data-dismiss" => "modal", :href => "#"} Cancel
    

:css
  .pass{
    color: green;
  }
  .failed{
    color: red;
  }
  .not-run{   
  }

:javascript

  $(function(){
    
    $("#multiple_site").fancybox({      
      'onClosed'    : function() {
          $("#login_error").hide();
      }
    });

    $("input.rerun_btn:not(:disabled)").click(function(){
      var rerun = $(this);
      $('#rerun_confirmation').css("display", "block");

      $('.cancel_rerun').live('click',function(e){
        $('#rerun_confirmation').css("display", "none");
      });

      $('.confirm_rerun_all').live('click',function(e){
        $(rerun).addClass("disabled");
        $(rerun).disabled = true;
        $.ajax({url: $(rerun).attr("rerun_all")}).success(function(data) {
          location.reload();
        });
      });

      $('.confirm_rerun_failed').live('click',function(e){
        $(rerun).addClass("disabled");
        $(rerun).disabled = true;
        $.ajax({url: $(rerun).attr("rerun_failed")}).success(function(data) {
          location.reload();
        });
      });
    });  
  });
