:css
  h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  }
  table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 13px;
  }
  table th, table td {
  padding: 10px 10px 9px;
  line-height: 13.5px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #DDD;
  }
  tr.total {
    background-color: grey;
  }

%p
  %table
    %tr
      %th User
      %th Ticket
      %th Summary
      %th Time
      
    - @work_logs.each do |wl|
      %tr
        %td= wl['name']
        %td
          =link_to wl['ticket'], "http://jirafnd.dev.activenetwork.com/browse/#{wl['ticket']}"
        %td= wl['summary']
        %td= ChronicDuration.output(wl['work_time'])

    %tr.total
      %td 
        %strong Total
      %td
      %td
      %td= ChronicDuration.output(@work_logs.inject(0){|sum, wl| sum += wl['work_time']})