.project-chart-box
  #project_coverage_chart

:javascript
  $(function () {
      var project_name = '#{@project.name}';
      $('#project_coverage_chart').highcharts({
          chart: {
              type: 'column',
              width: 960,
          },
          title: {
              text: project_name + ' Automation Coverage',
          },

          xAxis: {
              type: 'category',
              categories: ['Overall', 'Priority 1', 'Priority 2', 'Priority 3'],
              labels: {
                  align: 'center',
                  y: 20,
                  style: {
                      fontSize: '13px',
                      fontFamily: 'Verdana, sans-serif'
                  },
              }
          },
          yAxis: {
              min: 0,
              max: 100,
              title: {
                  text: 'Coverage'
              },
          },
          legend: {
              enabled: false
          },
          tooltip: {
              useHTML: true,
              formatter: function () {
                  return '<table><tr><td>Automated</td><td>' + this.point.automated + '</td></tr><tr><td>Automatable</td><td>' + this.point.automatable + '</td></tr><tr><td>Update Needed</td><td>' + this.point.update_needed + '</td></tr><tr><td>Not Ready</td><td>' + this.point.not_ready + '</td></tr><tr><td>Not Candidate</td><td>' + this.point.not_candidate + '</td></tr><tr><td>Update Manual</td><td>' + this.point.update_manual + '</td></tr><tr><td>Total Cases</td><td>' + this.point.total + '</td></tr>';
              }
          },

          series: [{
              name: 'Automation Coverage',
              data: [{
                      color: '#3A8FC3',
                      y: #{@regression_coverage[0]},                      
                      automated: #{@total_automated},
                      update_needed: #{@total_update_needed},
                      not_candidate: #{@total_not_candidate},
                      automatable: #{@total_automatable},
                      not_ready: #{@total_not_ready},
                      update_manual: #{@total_update_manual},
                      total: #{@total},
                     }, {
                      color: '#7BA13B',
                      y: #{@regression_coverage[1]},
                      automated: #{@P1_automated},
                      update_needed: #{@P1_update_needed},
                      not_candidate: #{@P1_not_candidate},
                      automatable: #{@P1_automatable},
                      not_ready: #{@P1_not_ready},
                      update_manual: #{@P1_update_manual},
                      total: #{@P1_total},                   
                  }, {
                      color: '#CBA744',
                      y: #{@regression_coverage[2]},
                      automated: #{@P2_automated},
                      update_needed: #{@P2_update_needed},
                      not_candidate: #{@P2_not_candidate},
                      automatable: #{@P2_automatable},
                      not_ready: #{@P2_not_ready},
                      update_manual: #{@P2_update_manual},
                      total: #{@P2_total},                      
                  }, {
                      color: '#B7592B',
                      y: #{@regression_coverage[3]},
                      automated: #{@P3_automated},
                      update_needed: #{@P3_update_needed},
                      not_candidate: #{@P3_not_candidate},
                      automatable: #{@P3_automatable},
                      not_ready: #{@P3_not_ready},
                      update_manual: #{@P3_update_manual},
                      total: #{@P3_total},                      
                  },

              ],
              dataLabels: {
                  offset: '120',
                  enabled: true,
                  color: '#000000',
                  align: 'center',
                  format: '{y} %',
                  style: {
                      fontSize: '13px',
                      fontFamily: 'Verdana, sans-serif',
                      textShadow: '0 0 3px black'
                  }
              }
          }]
      });
  });