= form_for @offer_report do |f|
  -if @offer_report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@offer_report.errors.count, "error")} prohibited this offer_report from being saved:"
      %ul
        - @offer_report.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :timestamp
    = f.datetime_select :timestamp
  .field
    = f.label :market
    = f.text_field :market
  .field
    = f.label :offer_type
    = f.text_field :offer_type
  .field
    = f.label :result
    = f.text_field :result
  .field
    = f.label :test_round_id
    = f.number_field :test_round_id
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
