.page-header.detail
  %h3 Automation Case Results
  = form_for search, :url => automation_script_result_automation_case_results_path(automation_script_result), :remote => true do |f|
    %span.search
      = f.text_field :automation_case_case_id_or_automation_case_name_or_automation_case_version_or_automation_case_priority_or_result_contains, {:id => 'search'}
      = f.submit '', {:class => 'btn', :id => 'searchsubmit'}

%table.zebra-striped
  %tr
    %th=sort_link search, :automation_case_case_id, "Case Id", {}, {:remote => true}
    %th=sort_link search, :automation_case_name, "Case Name", {}, {:remote => true}
    %th=sort_link search, :automation_case_version, "Version", {}, {:remote => true}
    %th=sort_link search, :automation_case_priority, "Priority", {}, {:remote => true}
    %th=sort_link search, :result, "Result"

  - if automation_case_results.nil? or automation_case_results.count == 0
    %tr
      %td{:colspan => "5"}
        %h4 No data
  - else
    - automation_case_results.each do |automation_case_result|
      %tr
        %td
          %img.ui-icon{:src => asset_path("#{automation_case_result.result}.png")}
          = link_to "#{automation_case_result.case_id}", automation_script_result_automation_case_result_path(automation_script_result, automation_case_result), :remote => true
        %td
          - acr_name = automation_case_result.name
          - if acr_name and acr_name.length >= 60
            - acr_name = acr_name.slice(0,60).concat("...")
          %span{:title => automation_case_result.name}= acr_name
        %td= automation_case_result.version
        %td= automation_case_result.priority
        %td= automation_case_result.result

= paginate automation_case_results